<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.standbyme.wechatoa.dao.WechatUserMapper">

    <select id="batchInsertWechatUser" resultType="java.lang.Integer">
        INSERT INTO wechat_user(openid,unionid,appid) VALUES
        <foreach collection="wechatUserEntities" item="wechatUserEntity" separator=",">
            (#{wechatUserEntity.openid},#{wechatUserEntity.unionid},#{wechatUserEntity.appid})
        </foreach>
    </select>

</mapper>